.wrapper {
  @mixin desktop {
    @media (max-width: 768px) {
      @content;
    }
  }
  @mixin mobile {
    @media (max-width: 576px) {
      @content;
    }
  }

  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ced4da;
  // border-top: 2px solid #00afcc;
  @include mobile() {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .accordion {
    width: auto;
    height: auto;

    .item {
      background: #f0ebe1;
      margin-bottom: 5px;
      padding: 10px 20px;

      .title {
        color: #746883;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        h2 {
          margin: 5px 0 5px 0;
        }
      }

      .content {
        color: #8b7f75;
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s cubic-bezier(0, 1, 0, 1);
      }
      .content.show {
        height: auto;
        max-height: 200px;
        transition: all 0.5s cubic-bezier(1, 0, 1, 0);
      }
    }
  }
  .footer {
    width: 100%;
    @include mobile() {
      width: auto;
    }
    background-color: #ced4da;
    height: 31vh;
    text-align: center;
    color: #746883;
    text-shadow: -1px -1px 0 #ced4da, 1px -1px 0 #ced4da, -1px 1px 0 #ced4da,
      1px 1px 0 #ced4da;
  }
}
